* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

main{
    height: 75vh;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

button, select{
    padding: 5px;
    width: 70px;
}

footer{
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 20px;
}

.grid{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.cell{
    width: calc(100% / var(--sideSquare));
    height: calc(100% / var(--sideSquare));
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}

.active{
    border: 1px solid white;
    color: white;
    background-color: rgb(14, 14, 185);
}

.bomb{
    border: 1px solid white;
    color: white;
    background-color: rgb(117, 8, 8);
}